<app-sidebar></app-sidebar>

<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Products</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">This module list the products of the store</p>
  </div>
</div>

<ng-container *ngIf="product">
  <form #updateForm="ngForm" (ngSubmit)="update(updateForm)">
    <div class="card box-shadow-sm">
      <div class="card-header">
        <h5 style="margin-bottom: 0px">Update a Product</h5>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-12 form-group">
                <label for="">Product Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Product Name"
                  required
                  name="name"
                  [(ngModel)]="product.name"
                />
              </div>
              <div class="col-lg-4 form-group">
                <label for="">Stock</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Initial Stock"
                  required
                  name="stock"
                  [(ngModel)]="product.stock"
                />
              </div>
              <div class="col-lg-4 form-group">
                <label for="">Price</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Price"
                  required
                  name="price"
                  [(ngModel)]="product.price"
                />
              </div>
              <div class="col-lg-4 form-group">
                <label for="">Category</label>
                <select
                  class="form-control custom-select"
                  id="select-input"
                  required
                  name="category"
                  [(ngModel)]="product.category"
                >
                  <option value="" selected disabled>Select</option>
                  <option value="Categoria 1">Category 1</option>
                  <option value="Categoria 2">Category 2</option>
                  <option value="Categoria 3">Category 3</option>
                </select>
              </div>

              <div class="col-lg-12 form-group">
                <label for="">Short Description</label>
                <textarea
                  class="form-control"
                  placeholder="Product Description"
                  required
                  name="description"
                  [(ngModel)]="product.description"
                  rows="5"
                ></textarea>
              </div>

              <div class="col-lg-12 form-group">
                <tinymce
                  [config]="config"
                  name="content"
                  [(ngModel)]="product.content"
                ></tinymce>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-12 form-group">
                <label for="">Main Picture</label>
                <div class="custom-file">
                  <input
                    class="custom-file-input"
                    type="file"
                    id="file-input"
                    (change)="fileChangeEvent($event)"
                  />
                  <label
                    class="custom-file-label"
                    id="input-portada"
                    for="file-input"
                    style="white-space: nowrap; overflow: hidden"
                    >Select image</label
                  >
                </div>
              </div>
              <div class="col-lg-12">
                <img
                  [src]="imgSelect"
                  class="img-thumbnail"
                  alt="Rounded image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button *ngIf="!loadBtn" type="submit" class="btn btn-primary mr-3">
          Update product
        </button>
        <button *ngIf="loadBtn" type="button" class="btn btn-secondary">
          <span
            class="spinner-grow spinner-grow-sm me-2"
            role="status"
            aria-hidden="true"
          ></span>
          Updating...
        </button>
        <a
          class="btn btn-warning"
          [routerLink]="['/panel/product']"
          routerLinkActive="router-link-active"
          >Go Back</a
        >
      </div>
    </div>
  </form>
</ng-container>
<ng-container *ngIf="product == undefined">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">Product not Found!!</h3>
      <div class="row">
        <div class="col-3 mx-auto">
          <img src="assets/img/advertencia.png" alt="" style="width: 100%" />
        </div>
      </div>
    </div>
  </div>
</ng-container>
